<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fun.Focus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fun.Focus.Properties.Settings>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1260</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Focus stage</value>
            </setting>
            <setting name="FocusColor" serializeAs="String">
                <value>#abff26</value>
            </setting>
            <setting name="FrameDelay" serializeAs="String">
                <value>100</value>
            </setting>
        </Fun.Focus.Properties.Settings>
    </userSettings>
</configuration>